{% extends '../base.html' %}
{% load static %}
{% load filters %}

{% block title %} Marvglo - home {% endblock %}
{% block scripts %}
    {#  local static  #}
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{#    <link rel="stylesheet" href="{% static 'css/main.css' %}">#}
    {#  table sorter js  #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.0/js/jquery.tablesorter.min.js" type="text/javascript"></script>


{% endblock %}

{% block content %}

{% if isAuthenticated and adminApproved or isAdmin %}

    {#   if admin - display selection for for which team to choose  #}
    {% if isAdmin %}
        {% ifequal employee None %}
        {% else %}
            <p>Viewing {{ employee.user.username }}'s team</p>
        {% endifequal %}
        <form class="form-inline" action="/" method="get">
        {% csrf_token %}
            Team boss:
            <label>
                <select class="form-control" name="employee">
                    {% for leader in teamLeaders %}
                        <option>{{ leader }}</option>
                    {% endfor %}
                </select>
            </label>

            <button type="submit" class="btn btn-default">Switch team</button>
        </form>
    {% endif %}

    {% if not isAdmin %}
        {% if isCashier %}
        <div id="transaction-submit-form">
            <form action="/transaction/submit" method="post" id="submit_transaction" class="form-inline">
                {% csrf_token %}
                <div class="form-group">
                    <label for="employeeId">Sold by:</label>
                    <select class="form-control" name="employeeId" id="employeeId">
                        {% for employee in list_of_employees %}
                            <option>{{ employee }} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="itemName">Item</label>
                    <select class="form-control" name="itemName" id="itemName">
                        {% for item in items %}
                            <option>{{ item.name }} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <input class="form-control" type="number" step="1" id="quantity" name="quantity" required placeholder="# items sold"/>
                </div>

{#                <div class="form-group">#}
{#                    <label for="discount">Discounted</label>#}
{#                    <input type="checkbox" id="discount" name="discount">#}
{#                </div>#}

                <button type="submit" class="btn btn-default">Add</button>

            </form>
        </div>
        {% endif %}
    {% endif %}

    <div id="total-results">
        <ul class="list-inline">
            <li>
                Total # sales: <strong id="total-num-sales"></strong>
            </li>
            <li>
                Total obtained(₦): <strong id="total-sales"></strong>
            </li>
            <li>
                Total commission(₦): <strong id="total-commission"></strong>
            </li>
        </ul>
    </div>

    <div class="transactions">
    <table class="table table-bordered tablesorter" id="transactionStats">
        <thead>
            <tr>
                <th class="header">
                    Item ID
                </th>
                <th class="header">
                    Date submitted
                </th>
                <th class="header">
                    Item Name
                </th>
                <th class="header">
                    Sold at price
                </th>
                <th class="header">
                    # of items sold
                </th>
                <th class="header">
                    Sold by (self or distributed)
                </th>
                <th class="header">
                    Commission
                </th>
                <th>
                    Options
                </th>
            </tr>
        </thead>
        <tbody id="transactions-form-data">

        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.item.id }}</td>
                <td>{{ transaction.date_time_created }}</td>
                <td>{{ transaction.item.name }}</td>
                <td>{{ transaction.sold_at_price }}</td>
                <td>{{ transaction.quantity }}</td>
                <td>{{ transaction.owner }}</td>
                <td>
                    {% if transaction.owner == employee %}
                        {{ transaction.personal_bonus|at:employee.level }}
                    {% else %}
                        {{ transaction.volume_bonus|at:employee.level }}
                    {% endif %}
                </td>
                <td>
                    {% if isCashier %}
                        <a href="/transaction/{{ transaction.id }}"><span class="glyphicon glyphicon-cog">Amend</span></a>
                        <a href="/transaction/remove/{{ transaction.id }}"><span class="glyphicon glyphicon-remove">Remove</span></a>
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    </div>
{% else %}
    {% if isAuthenticated %}
        <p>Please contact your system administrator to approve your account.</p>
    {% else %}
        <p>Please log in.</p>
    {% endif %}
{% endif %}
{% endblock %}
