{% extends '../base.html' %}
{% load static %}

{% block title %} Marvglo - home {% endblock %}
{% block scripts %}
    {#  local static  #}
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

{% endblock %}

{% block content %}

{% if isAuthenticated and adminApproved %}

    <div id="transaction-submit-form">
        <form action="/transaction/submit" method="post" id="submit_transaction" class="form-inline">
            {% csrf_token %}
            <div class="form-group">
                <label for="itemName">Item</label>
                <select class="form-control" name="itemName" id="itemName">
                    {% for item in items %}
                        <option>{{ item.name }} </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="quantity">Quantity</label>
                <input class="form-control" type="number" step="1" id="quantity" name="quantity" required placeholder="# items sold"/>
            </div>

            <button type="submit" class="btn btn-default">Add</button>

        </form>

    </div>

    <div class="transactions">
    <table class="table table-hover tablesorter" id="sessionStats">
        <thead>
            <tr>
                <th class="header">
                    Stakes
                    <span class="glyphicon glyphicon-resize-vertical"></span>
                </th>
                <th class="header">
                    Game
                </th>
                <th class="header">
                    Place
                </th>
                <th class="header">
                    Profit
                    <span class="glyphicon glyphicon-resize-vertical"></span>
                </th>
                <th class="header">
                    Length
                    <span class="glyphicon glyphicon-resize-vertical"></span>
                </th>
                <th class="header">
                    £/h
                    <span class="glyphicon glyphicon-resize-vertical"></span>
                </th>
                <th class="header">
                    Date played
                    <span class="glyphicon glyphicon-resize-vertical"></span>
                </th>
                <th>
                    Options
                </th>
            </tr>
        </thead>
        <tbody id="session-form-data">

        {% for session in sessions %}
            <tr class="{% if session.profit >= 0 %} success {% else %} danger {% endif %}">
                <td>{{ session.stake_level }}</td>
                <td>{{ session.game_type }}</td>
                <td>{{ session.casino_name }}</td>
                <td>{{ session.profit }}</td>
                <td>{{ session.session_length }}</td>
                <td>{% widthratio session.profit session.session_length 1 %}</td>
                <td>{{ session.date_played }}</td>
                <td>
                    <a href="/transaction/{{ session.id }}"><span class="glyphicon glyphicon-cog"></span></a>
                    <a href="/transaction/remove/{{ session.id }}"><span class="glyphicon glyphicon-remove"></span></a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    </div>
   {% else %}
    {% if isAuthenticated %}
        <p>Please contact your system administrator to approve your account.</p>
    {% else %}
        <p>Please log in.</p>
    {% endif %}
{% endif %}
{% endblock %}

